@import './_reset.css';
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

@font-face {
  font-family: 'Bringthanoize';
  src: url('/fonts/bring_tha_noize/Bringthanoize.woff2') format('woff2'),
      url('/fonts/bring_tha_noize/Bringthanoize.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


:root {
  --color-main: #EC5701;
  --color-text: #000000;
  --color-ms-blue: #2358B8;
  --color-ms-blue-lt: #659CC6;
  --color-white: #ffffff;
  --color-grey: #C6C8CD;
  ;

  --font-logo: 'Bringthanoize', sans-serif;
  --font-headings: "Archivo Black", sans-serif;
  --font-base: "Instrument Sans", sans-serif;

/* @link https://utopia.fyi/type/calculator?c=320,16,1.25,1240,20,1.333,5,0,&s=0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */


  --step-0: clamp(1rem, 0.913rem + 0.4348vw, 1.25rem);
  --step-1: clamp(1.25rem, 1.1052rem + 0.7239vw, 1.6663rem);
  --step-2: clamp(1.5625rem, 1.3334rem + 1.1454vw, 2.2211rem);
  --step-3: clamp(1.9531rem, 1.6026rem + 1.7524vw, 2.9607rem);
  --step-4: clamp(2.4414rem, 1.9178rem + 2.6178vw, 3.9467rem);
  --step-5: clamp(3.0518rem, 2.2834rem + 3.842vw, 5.2609rem);
  --step-6: clamp(3.8147rem, 2.7023rem + 5.5619vw, 7.0128rem);


  /* @link https://utopia.fyi/space/calculator?c=320,16,1.2,1240,20,1.333,5,0,&s=0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  --space-xs: clamp(0.25rem, 0.2283rem + 0.1087vw, 0.3125rem);
  --space-s: clamp(1rem, 0.913rem + 0.4348vw, 1.25rem);
  --space-m: clamp(1.5rem, 1.3696rem + 0.6522vw, 1.875rem);
  --space-l: clamp(2rem, 1.8261rem + 0.8696vw, 2.5rem);
  --space-xl: clamp(3rem, 2.7391rem + 1.3043vw, 3.75rem);
  --space-2xl: clamp(4rem, 3.6522rem + 1.7391vw, 5rem);
  --space-3xl: clamp(6rem, 5.4783rem + 2.6087vw, 7.5rem);

  /* One-up pairs */
  --space-xs-s: clamp(0.25rem, -0.0978rem + 1.7391vw, 1.25rem);
  --space-s-m: clamp(1rem, 0.6957rem + 1.5217vw, 1.875rem);
  --space-m-l: clamp(1.5rem, 1.1522rem + 1.7391vw, 2.5rem);
  --space-l-xl: clamp(2rem, 1.3913rem + 3.0435vw, 3.75rem);
  --space-xl-2xl: clamp(3rem, 2.3043rem + 3.4783vw, 5rem);
  --space-2xl-3xl: clamp(4rem, 2.7826rem + 6.087vw, 7.5rem);

  /* Custom pairs */
  --space-s-l: clamp(1rem, 0.4783rem + 2.6087vw, 2.5rem);
  --space-s-2xl: clamp(1rem, -0.3913rem + 6.9565vw, 5rem);
  --space-s-3xl: clamp(1rem, -1.2609rem + 11.3043vw, 7.5rem);

}

.myspace-blue {
  background-color: var(--color-ms-blue);
}

.myspace-blue-lt {
  background-color:var(--color-ms-blue-lt)
}

html {
  background-color: rgb(254, 254, 254);
  min-height: 100%;
}

body {
  color: var(--color-text);
  font-family: var(--font-base);
  margin: 0 auto;
}

header {
  color: var(--color-white);
}
h1 {
  padding: var(--space-s) 0;
  font-size: var(--step-3);
}

h2 {
  font-size: var(--step-1);
}
.ms-nav {
  text-align: center;
  font-size: var(--step-0);
}

/* .ms-nav ul li:not(:last-child)::after {
  content:"|";
} */

.ms-nav-header {
  font-weight: bold;
  padding: var(--space-xs);
}


.wrapper {
  margin-inline: auto;
  max-width: var(--wrapper-max-width, 1440px);
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  position: relative;
}



.graffiti {
  font-family: var(--font-logo);
  color: var(--color-main);
  font-size: var(--step-3);
  letter-spacing: 3px;
}

.h2 {
  font-family: var(--font-base);
  text-align: center;
  font-size: var(--step-4);
  line-height: 0.9;
  font-weight: 200;
}

a {
  text-decoration: none;
}

a:active {
  color: var(--color-main);
}



.latest-music p a {
  color: var(--color-ms-blue);
}


.font-lt {
  font-weight: 400;
}

.font-xl {
  font-size: var(--step-6);
  letter-spacing: -5px;
}

.font-xs {
  font-size: var(--step-xs);
}

.button-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: var(--space-s);
  gap: var(--space-s);
}


.grid {
  display: grid;
  grid-template-columns: repeat(
    var(--grid-placement, auto-fill),
    minmax(var(--grid-min-item-size, 18rem), 1fr)
  );
  gap: var(--gutter, 2rem);
}

.grid[data-layout='50-50'] {
  --grid-placement: auto-fit;
  --grid-min-item-size: clamp(20rem, 40vw, 33rem);
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

.card {
  padding: var(--space-l);
  justify-self: center;
}

.top {
  padding: var(--space-l);
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}



.music-entry {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.4rem;
}

.music-entry h3 {
  font-weight: 200;
 
}

.margin-bottom {
  margin-bottom: var(--space-m);
}

ul {
  list-style-type: none;
  padding:0;
  margin-bottom: var(--space-xs);
  display: flex;
  gap: var(--space-xs-s);
}


.grey-container {
  background-color: var(--color-grey);
  border: 2px solid black;
  padding: var(--space-s);
  
}

.profile-section {
  display: flex;
  flex-direction: column;
}


.myspace-url {
  color: var(--color-ms-blue);
  font-weight: 600;
}

.myspace-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, auto);
  column-gap: var(--space-s-2xl);
  row-gap: var(--space-m);
  margin: 2rem;
}

.container a {
  display: flex;
  align-items: center;
  margin:0 0.2rem;
}

.container {
  border: 2px solid black;
}

.div1 { 
  grid-area: 1 / 1 / 2 / 3; 
  order: 1;
}
.div2 { 
  grid-area: 2 / 1 / 5 / 3;
  order: 2
}
.div3 { 
  grid-area: 5 / 1 / 7 / 3; 
  order: 3;
}
.div4 { 
  grid-area: 7 / 1 / 8 / 3;
  order: 4;
}
.div5 { 
  grid-area: 1 / 3 / 3 / 6; 
  order: 5;
  display: flex;
}
.div6 { 
  grid-area: 3 / 3 / 5 / 6;
  order: 6;
  display: flex;
  flex-direction: column;
}
.div7 { 
  grid-area: 5 / 3 / 7 / 6;
  order: 7;
  max-width: 650px;  }
.div8 { 
  grid-area: 7 / 4 / 8 / 6; 
  order: 8;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 786px)  {
  .myspace-grid {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, auto);
    column-gap: var(--space-s-2xl);
    row-gap: var(--space-m);
    margin: 2rem;
  }

  .div5 {
    order: 2;
  }
  .div8 {
    justify-content: center;
  }
}